<!--<div class="container">-->
<!--  <app-toggle appColor appDisable [disableState]="false" color="primary"></app-toggle>-->
<!--  <app-toggle appColor appDisable [disableState]="false" color="secondary"></app-toggle>-->
<!--  <app-button appColor appDisable [disableState]="true" color="primary">asdsa</app-button>-->
<!--  <app-button appColor appDisable [disableState]="false" color="secondary">asdsa</app-button>-->

<!--</div>-->

<div class="container">
  <div class="component">
    <h2>Button</h2>
    <app-button appColor appDisable>Click me!</app-button>
  </div>
  <div class="component">
    <h2>Spinner</h2>
  <app-spinner appColor></app-spinner>
  </div>
  <div class="component">
    <h2>Toggle</h2>
    <app-toggle appColor></app-toggle>
  </div>
</div>

<app-button appColor appDisable color="primary" [disableState]="true">Click me!</app-button>
<app-toggle appColor appDisable color="primary" [disableState]="true"></app-toggle>
<app-spinner appColor color="primary"></app-spinner>


