.primary {
  --background-color: #3eb084;
  --text-color: white;
}

.secondary {
  --background-color: #f65454;
  --text-color: white;
}

.disabled {
  pointer-events: none;
  cursor: none;
  --background-color-disabled: #bbbbbb;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
}
